{% extends 'base.html.twig' %}

{% block title %}Leboncoin {% endblock %}



{% block body %}





<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6 w-full" style="max-width: 900px;margin: 80px auto;">
{% for annonces in annonces %}

  <div class="relative mx-auto w-full">
	<a href="#" class="relative inline-block duration-300 ease-in-out transition-transform transform hover:-translate-y-2 w-full">
	  <div class="shadow p-4 rounded-lg bg-white">
		<div class="flex justify-center relative rounded-lg overflow-hidden h-52">
		  <div class="transition-transform duration-500 transform ease-in-out hover:scale-110 w-full">
			<div class="absolute inset-0 bg-black opacity-10"></div>
		  </div>
	  
	</div>

		<div class="mt-4">
		  <h2 class="font-medium text-base md:text-lg text-gray-800 line-clamp-1" style="text-align:center">
			{{annonces.title}} 
		  </h2>
		  <p class="mt-2 text-sm text-gray-800 line-clamp-1" title="New York, NY 10004, United States">
			{{annonces.description}}
		  </p>
		</div>

		<div class="grid grid-cols-2 mt-8">
		  <div class="flex items-center">
			

			<p class="ml-2 text-gray-800 line-clamp-1">
				{{annonces.getTag().getTag()}}
			</p>
		  </div>

		  <div class="flex justify-end">
			<p class="inline-block font-semibold text-primary whitespace-nowrap leading-tight rounded-xl">
			  <span class="text-lg" style="font-size:0.825rem">{{ annonces.getDate()|date('d-m-Y') }}</span> 
			</p>
		  </div>
		</div>
		
		<div class="grid grid-cols-2 mt-8">
		  <div class="flex items-center">
			

			<p class="ml-2 text-gray-800 line-clamp-1">
				{{annonces.getIdUser().getFirstName}}
			</p>
		  </div>

		  <div class="flex justify-end">
			<p class="inline-block font-semibold text-primary whitespace-nowrap leading-tight rounded-xl">
			  <span class="text-lg">{{ annonces.price }}</span> 
			  <span class="text-sm uppercase">
				 €
			  </span>
			</p>
		  </div>
		</div>
	  </div>
	</a>
  </div>
{% endfor %}


</div>
{% endblock %}
