<div class="p-6 bg-white shadow-md light:bg-gray-800">
    <a href="#">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-blue">
        {{ annonce.title }}</h5>
        <span class="text-sm text-gray-500 dark:text-gray-400">
        by <span class="font-bold">{{ annonce.getIdUser().getFirstName }}</span>
        the <span class="font-bold">{{ annonce.getDate()|date('d-m-Y') }}</span>
        </span>
    </a>
    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
    {{ annonce.description }}</p>
    <span
        class="flex flex-wrap justify-between items-center text-xs sm:text-xs bg-gray-200 light:bg-gray-800 dark:hover:bg-gray-300 rounded px-4 py-2 leading-loose cursor-pointer dark:text-gray-500 w-fit mb-5">
        {{ annonce.getTag().getTag() }}
    </span>
    <div class="flex justify-between items-end">
    <a href="{{ path('app_annonce_show', {'id':annonce.id}) }}" class="inline-flex items-center py-2 px-3 text-sm font-medium text-center text-white rounded-md focus:outline-none bg-gray-700 hover:bg-gray-900 ">En savoir plus
        <svg aria-hidden="true" class="ml-2 -mr-1 w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
    </a>
    <p class="font-bold text-xl">{{ annonce.price }} €</p>
    </div>
</div>
